In [1]:
import pandas as pd
import scipy.stats as spst
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Nanum')
sns.set(font="NanumGothicCoding",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

## 0. 데이터 전처리

In [2]:
data1 = pd.read_csv('data1.csv')
data2 = pd.read_csv('data2.csv')
data3 = pd.read_csv('data3.csv')

In [3]:
data1.head()

   자치구 요일  정류장수  노선수    승차승객합    하차승객합      승차승객평균      하차승객평균
0  강남구  금   506   92  1572296  1486996  150.286370  142.133053
1  강남구  목   505   92  1253174  1188653  149.205143  141.523158
2  강남구  수   505   92  1235073  1167041  147.295528  139.181992
3  강남구  월   506   92  1179341  1120044  140.968324  133.880469
4  강남구  일   505   89   559631   515235   68.464766   63.033399

In [4]:
data2.head()

   자치구 요일  심야이동시간합    심야이동인구합   심야이동시간평균   심야이동인구평균
0  강남구  금   307190  374025.49  27.600180  33.605165
1  강남구  목   275230  297664.68  26.744728  28.924758
2  강남구  수   277870  280940.97  27.541877  27.846265
3  강남구  월   214180  157131.10  26.282980  19.282255
4  강남구  일   260470  250252.45  26.570438  25.528150

In [5]:
data3.head()

   자치구 요일  심야이동시간합    심야이동인구합   심야이동시간평균   심야이동인구평균
0  강남구  금   234020  253505.42  25.255774  27.358668
1  강남구  목   211180  204347.41  25.379161  24.558035
2  강남구  수   211910  195062.62  25.390606  23.371989
3  강남구  월   167330  133486.44  23.089554  18.419545
4  강남구  일   194050  192548.28  24.042870  23.856806

## 1.가설 수립 
+ 어떤 데이터를 label 데이터로 하실 건가요?

    ? 정해진게 없나요? - 네 라벨을 조별로 고민하셔서 라벨데이터를 설정하시면 되겠습니다


    ? 가설마다 라벨데이터가 달라도 상관없나요? 네 그렇습니다


    ? 가설은 3개만 해야하나요? 그 이상 하셔도 무방합니다

## 가설을 설정해 봅시다 (조당 최소 3개) 
- 미니프로젝트 진행의 편의상 가설은 이변량 분석을 염두에 두고 설정해 주세요

* 가설1. 주말심야이동평균인구와 정류장 수간에 상관관계가 있다 (도착지 기준)

In [6]:
data_1 = pd.merge(data1, data3, on=['자치구', '요일'], how='inner')

In [7]:
data_1.head(10)

,자치구,요일,정류장수,노선수,승차승객합,하차승객합,승차승객평균,하차승객평균,심야이동시간합,심야이동인구합,심야이동시간평균,심야이동인구평균
0,강남구,금,506,92,1572296,1486996,150.286370,142.133053,234020,253505.42,25.255774,27.358668
1,강남구,목,505,92,1253174,1188653,149.205143,141.523158,211180,204347.41,25.379161,24.558035
2,강남구,수,505,92,1235073,1167041,147.295528,139.181992,211910,195062.62,25.390606,23.371989
3,강남구,월,506,92,1179341,1120044,140.968324,133.880469,167330,133486.44,23.089554,18.419545
4,강남구,일,505,89,559631,515235,68.464766,63.033399,194050,192548.28,24.042870,23.856806
5,강남구,토,505,91,1020090,949966,97.991354,91.255139,245600,307010.94,25.288303,31.611505
6,강남구,화,506,92,1220268,1155826,145.703642,138.009075,202730,186358.36,25.369791,23.321031
7,강동구,금,373,21,552525,542765,113.408251,111.404967,186220,148654.16,30.795436,24.583126
8,강동구,목,373,21,433963,424706,111.244040,108.871059,168100,120847.62,30.375858,21.837300
9,강동구,수,373,21,434361,425337,111.203533,108.893241,160370,115739.40,29.858499,21.548948

In [8]:
# 주말 필터링
data_1weekend = data_1.loc[(data_1['요일'] == '토') | (data_1['요일'] == '일')]

In [9]:
data_1weekend.corr() #상관계수 확인

,정류장수,노선수,승차승객합,하차승객합,승차승객평균,하차승객평균,심야이동시간합,심야이동인구합,심야이동시간평균,심야이동인구평균
정류장수,1.000000,0.243020,0.364625,0.372902,-0.213206,-0.185447,0.474742,0.408001,0.184845,0.381918
노선수,0.243020,1.000000,0.484885,0.469682,0.310435,0.282421,-0.097241,-0.009242,-0.627574,-0.172072
승차승객합,0.364625,0.484885,1.000000,0.997320,0.699502,0.698531,0.683472,0.641282,0.005569,0.491081
하차승객합,0.372902,0.469682,0.997320,1.000000,0.702583,0.709304,0.694947,0.641022,0.023850,0.496384
승차승객평균,-0.213206,0.310435,0.699502,0.702583,1.000000,0.993896,0.312678,0.249286,-0.117710,0.120833
하차승객평균,-0.185447,0.282421,0.698531,0.709304,0.993896,1.000000,0.344806,0.267337,-0.087752,0.147344
심야이동시간합,0.474742,-0.097241,0.683472,0.694947,0.312678,0.344806,1.000000,0.859771,0.416308,0.783798
심야이동인구합,0.408001,-0.009242,0.641282,0.641022,0.249286,0.267337,0.859771,1.000000,0.150578,0.956806
심야이동시간평균,0.184845,-0.627574,0.005569,0.023850,-0.117710,-0.087752,0.416308,0.150578,1.000000,0.279883
심야이동인구평균,0.381918,-0.172072,0.491081,0.496384,0.120833,0.147344,0.783798,0.956806,0.279883,1.000000

In [10]:
spst.pearsonr(data_1weekend['정류장수'],data_1weekend['심야이동인구평균'])

(0.38191805544230845, 0.006202927168655422)

In [11]:
spst.pearsonr(data_1weekend['정류장수'],data_1weekend['심야이동인구합'])

(0.40800083774111484, 0.0032694976749831836)

In [12]:
a = data_1weekend.groupby('자치구', as_index=False)['정류장수'].sum()
b = data_1weekend.groupby('자치구', as_index=False)['심야이동인구합'].sum()

In [13]:
data_1with2_weekend_res = pd.merge(a, b, on='자치구', how='inner')
data_1with2_weekend_res['심야이동인구합 대비 정류장수'] = data_1with2_weekend_res['정류장수'] / data_1with2_weekend_res['심야이동인구합']
data_1with2_weekend_res = data_1with2_weekend_res.sort_values('심야이동인구합 대비 정류장수',ascending=True)
data_1with2_weekend_res

     자치구  정류장수    심야이동인구합  심야이동인구합 대비 정류장수
17   송파구   830  440072.52         0.001886
5    광진구   544  275892.07         0.001972
0    강남구  1010  499559.22         0.002022
1    강동구   746  311540.11         0.002395
10  동대문구   612  240556.98         0.002544
23    중구   356  138919.59         0.002563
4    관악구   936  348577.52         0.002685
20   용산구   642  216755.80         0.002962
18   양천구   646  203392.76         0.003176
12   마포구  1131  347970.81         0.003250
19  영등포구   930  276860.39         0.003359
3    강서구  1131  325163.60         0.003478
11   동작구   880  240015.90         0.003666
8    노원구  1030  267121.71         0.003856
24   중랑구   845  216128.33         0.003910
14   서초구  1196  292389.75         0.004090
15   성동구   872  212799.20         0.004098
21   은평구  1000  238423.27         0.004194
13  서대문구   918  216035.47         0.004249
2    강북구   826  183338.48         0.004505
16   성북구  1210  266157.22         0.004546
9    도봉구   722  151107.63         0.004778
6    구로구   972  195400.71         0.004974
22   종로구   696  137768.85         0.005052
7    금천구   690  121354.56         0.005686

#### 결론) 심야이동인구합 대비 정류장 수가 적을수록 정류장 수를 늘려야 한다
#### 송파구, 광진구, 강남구, 강동구, 동대문구

* 가설2. 주중출근시간과 정류장 수간에 상관관계가 있다 (도착지 기준)

In [25]:
data_1with3 = pd.read_csv('data5.csv')

In [26]:
data_1with3.head()

,자치구,요일,정류장수,노선수,승차승객합,하차승객합,승차승객평균,하차승객평균,출근이동시간합,출근이동인구합,출근이동시간평균,출근이동인구평균
0,강남구,금,506,92,1572296,1486996,150.286370,142.133053,249740,1641181.66,23.149796,152.130298
1,강남구,목,505,92,1253174,1188653,149.205143,141.523158,243630,1349406.51,23.550507,130.440455
2,강남구,수,505,92,1235073,1167041,147.295528,139.181992,237360,1365942.24,23.062573,132.718834
3,강남구,월,506,92,1179341,1120044,140.968324,133.880469,240720,1379999.76,23.316544,133.669097
4,강남구,일,505,89,559631,515235,68.464766,63.033399,173740,373186.61,19.552104,41.997143

In [27]:
data_1with3_weekend = data5.loc[(data5['요일'] == '월') | (data5['요일'] == '화') | (data5['요일'] == '수') | (data5['요일'] == '목') | (data5['요일'] == '금')]

In [28]:
data_1with3_weekend.corr() #상관계수 확인

,정류장수,노선수,승차승객합,하차승객합,승차승객평균,하차승객평균,출근이동시간합,출근이동인구합,출근이동시간평균,출근이동인구평균
정류장수,1.000000,0.245222,0.533673,0.545766,-0.122781,-0.087262,0.218027,0.208543,0.334931,0.243026
노선수,0.245222,1.000000,0.616469,0.608128,0.510393,0.493585,0.520438,0.370794,-0.440011,0.200857
승차승객합,0.533673,0.616469,1.000000,0.997311,0.548069,0.556523,0.591393,0.582987,0.202708,0.529917
하차승객합,0.545766,0.608128,0.997311,1.000000,0.542252,0.561009,0.575180,0.555999,0.202934,0.505506
승차승객평균,-0.122781,0.510393,0.548069,0.542252,1.000000,0.989411,0.295240,0.218390,-0.145273,0.108933
하차승객평균,-0.087262,0.493585,0.556523,0.561009,0.989411,1.000000,0.277904,0.184070,-0.139990,0.079314
출근이동시간합,0.218027,0.520438,0.591393,0.575180,0.295240,0.277904,1.000000,0.907525,0.128250,0.818397
출근이동인구합,0.208543,0.370794,0.582987,0.555999,0.218390,0.184070,0.907525,1.000000,0.295188,0.969756
출근이동시간평균,0.334931,-0.440011,0.202708,0.202934,-0.145273,-0.139990,0.128250,0.295188,1.000000,0.477717
출근이동인구평균,0.243026,0.200857,0.529917,0.505506,0.108933,0.079314,0.818397,0.969756,0.477717,1.000000

In [29]:
# 정류장수와 출근이동시간합, 하차승객합
spst.pearsonr(data_1with3_weekend['정류장수'],data_1with3_weekend['출근이동인구합'])

(0.20854275709943773, 0.01960215592244179)

In [30]:
a = data_1with3_weekend.groupby('자치구', as_index=False)['정류장수'].sum()
b = data_1with3_weekend.groupby('자치구', as_index=False)['출근이동인구합'].sum()

In [32]:
data_1with3_weekend = pd.merge(a, b, on='자치구', how='inner')
data_1with3_weekend['출근이동인구합 대비 정류장수'] = data_1with3_weekend['정류장수'] / data_1with3_weekend['출근이동인구합']
data_1with3_weekend = data_1with3_weekend.sort_values('출근이동인구합 대비 정류장수',ascending=True)
data_1with3_weekend

     자치구  정류장수     출근이동인구합  출근이동인구합 대비 정류장수
23    중구   890  3716390.93         0.000239
0    강남구  2528  7122545.60         0.000355
17   송파구  2080  3919457.87         0.000531
22   종로구  1750  3098821.24         0.000565
19  영등포구  2327  3790322.55         0.000614
14   서초구  2995  4387545.12         0.000683
5    광진구  1360  1811192.69         0.000751
10  동대문구  1530  2035401.03         0.000752
1    강동구  1865  2363485.57         0.000789
20   용산구  1605  1816564.17         0.000884
15   성동구  2180  2368951.75         0.000920
18   양천구  1615  1580206.54         0.001022
12   마포구  2782  2655841.47         0.001048
13  서대문구  2300  2158975.09         0.001065
3    강서구  2830  2639737.72         0.001072
8    노원구  2575  2235488.68         0.001152
7    금천구  1725  1353944.48         0.001274
4    관악구  2340  1829108.56         0.001279
11   동작구  2196  1695937.16         0.001295
6    구로구  2430  1851562.95         0.001312
16   성북구  3029  2048249.63         0.001479
24   중랑구  2115  1426824.33         0.001482
21   은평구  2505  1626066.90         0.001541
2    강북구  2065  1332178.36         0.001550
9    도봉구  1805  1122438.25         0.001608

#### 결론) 출근인구이동합 대비 정류장 수가 적을수록 정류장 수를 늘려야 한다
#### 중구, 강남구, 송파구, 종로구, 영등포구

* 가설3. 노선수가 많으면 정류장 당 승차인원이 많다 (정류장의 부하)

In [55]:
data_1['요일별 정류장 당 승하차인원'] = (data_1['승차승객합']+data_1['하차승객합'])/data_1['정류장수']

In [56]:
spst.pearsonr(data_1['노선수'], data_1['요일별 정류장 당 승하차인원'])

(0.44279548665783464, 8.470702212219916e-10)

In [57]:
data_1.groupby('자치구')[['노선수']].mean().sort_values('노선수').reset_index()

     자치구         노선수
0    강동구   21.000000
1    광진구   41.000000
2    도봉구   47.000000
3    중랑구   48.000000
4    강서구   49.000000
5    송파구   54.714286
6    양천구   56.000000
7    노원구   57.000000
8    금천구   57.857143
9    성동구   58.000000
10   강북구   66.714286
11   용산구   66.714286
12   은평구   70.000000
13  동대문구   72.714286
14   구로구   79.000000
15   관악구   87.285714
16   강남구   91.428571
17   서초구   92.857143
18   동작구   96.000000
19   성북구   98.714286
20   마포구  100.000000
21  영등포구  102.571429
22    중구  103.000000
23   종로구  105.857143
24  서대문구  107.000000

#### 결론) 노선수가 많을수록 정류장을 늘려야 한다.
#### 서대문구, 종로구, 중구, 영등포구, 마포구